<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>

<body class="body-start body-404">
  <main>
    <section class="section-start">
        <h1>404</h1>
        <p>Oeps</p>
        <p>De pagina die je probeert te bereiken is niet beschikbaar.</p>
        <a href="/home">Breng mij terug</a>

        <!-- Data fetchen -->
        <ul>
            <li><img src="./img/hero-1.JPG" alt="Xiao dood gaan van eten"> </li>
            <li><img src="./img/hero-2.JPG" alt="Xiao met ijs"> </li>
            <li><img src="./img/hero-3.JPG" alt="Xiao en kip met kip op tand"> </li>
        </ul>

    </section>
  </main>
  <script src="/index.js"></script>
</body>
</html>