<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>

<body>
  <section class="landen-cards">
    <h3 class="visually-hidden">Landen kaarten</h3>
    <a href="/">
        <article>
            <h2>Korea</h2>
            <img src="./img/country-korea.jpg" alt="Foto van Koreaans eten" />
            <div class="overlay"></div>
        </article>
    </a>
    <a href="/">
        <article>
            <h2>China</h2>
            <img src="./img/country-china.jpg" alt="Foto van Chinees eten" />
            <div class="overlay"></div>
        </article>
    </a>
    <a href="/">
        <article>
            <h2>Japan</h2>
            <img src="./img/country-japan.jpg" alt="Foto van Japans eten" />
            <div class="overlay"></div>
        </article>
    </a>
</body>
</html>