<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>

<body class="body-home">
    <div>
        <section class="landen-cards">
            <h3 class="visually-hidden">Landen kaarten</h3>
            <a href="/">
                <article>
                    <h2>Korea</h2>
                    <img src="./img/country-korea.jpg" alt="Foto van Koreaans eten" />
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/">
                <article>
                    <h2>China</h2>
                    <img src="./img/country-china.jpg" alt="Foto van Chinees eten" />
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/">
                <article>
                    <h2>Japan</h2>
                    <img src="./img/country-japan.jpg" alt="Foto van Japans eten" />
                    <div class="overlay"></div>
                </article>
            </a>
        </section>
    </div>
    <div>
        <main class="main-home">
            <h1>Xiao's top 3</h1>
            <section>
                <h3 class="visually-hidden">Xiao's top 3 lijst</h3>
                <article>
                    <h2>Tteokbokki</h2>
                    <p>Korea</p>
                    <img src="./img/country-korea.jpg" alrt="Tteokbokki">
                </article>
                <article>
                    <h2>Tteokbokki</h2>
                    <p>Korea</p>
                    <img src="./img/country-korea.jpg" alrt="Tteokbokki">
                </article>
                <article>
                    <h2>Tteokbokki</h2>
                    <p>Korea</p>
                    <img src="./img/country-korea.jpg" alrt="Tteokbokki">
                </article>
                <a href="/gerechten">Zie alle gerechten</a>
            </section>
        </main>

        <article class="banner">
            <h3>Tip van de week</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam corrupti, hic quia magni.</p>
            <div class="overlay"></div>
        </article>
    </div>
</body>
</html>