<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>

<body class="body-start">
  <main>
    <section class="section-start">
      <h1>Xiao Foods</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
      <a href="/home">Bekijk gerechten</a>

      <!-- Data fetchen -->
      <ul>
        <li><img src="./img/hero-1.JPG" alt="Xiao dood gaan van eten"> </li>
        <li><img src="./img/hero-2.JPG" alt="Xiao met ijs"> </li>
        <li><img src="./img/hero-3.JPG" alt="Xiao en kip met kip op tand"> </li>
      </ul>

    </section>
  </main>
  <script src="/index.js"></script>
</body>
</html>