/* Bron: https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints */
@media (min-width: 576px) { 
    /* 
        Start pagina
    */
    .body-start main {
        margin: auto;
        width: 500px;
    }

    .section-start a {
        width: 215px;
    }

    .section-start ul li:first-of-type {
        margin-left: 0px;
    }

    .section-start ul {
        grid-template-columns: 125px 1fr;
    }

    /* 
        Home
    */
    .main-home section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-home a:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 768px) { 
    /* 
        Start pagina
    */
    .body-start main {
        width: 100%;
    }

    .section-start {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 50px;
        width: 800px;
        margin: auto;
    }

    .section-start h1 {
        grid-column-start: 1;
        font-size: 50px;
        line-height: 60px;
    }

    .section-start p {
        grid-column-start: 1;
        font-size: 20px;
        line-height: 33px;
    }

    .section-start a {
        grid-column-start: 1;
    }

    .section-start ul {
        grid-template-columns: 125px 170px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 6;
        margin-left: auto;
    }

    /* 
        Home
    */
    .landen-cards {
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .landen-cards img {
        width: 100%;
    }

    .landen-cards h2 {
        font-size: 26px;
        line-height: 31px;
    }

    .main-home article {
        grid-template-columns: 120px 1fr;
    }
    .main-home h1 {
        font-size: 34px;
        line-height: 37px;
    }

    .main-home h2 {
        font-size: 20px;
        line-height: 33px;
    }

    .main-home p {
        font-size: 16px;
        line-height: 28px;
    }

    .main-home img {
        width: 120px;
    }
}

@media (min-width: 1000px) { 
    /* 
        Start pagina
    */
    .section-start {
        width: 1000px;
    }

    .section-start h1 {
        grid-row-start: 2;
    }

    .section-start p {
        grid-row-start: 3;
    }

    .section-start a {
        grid-row-start: 4;
    }

    /* Gallery */
    .section-start ul {
        grid-template-columns: 210px 300px;
    }

    .section-start ul li:first-of-type {
        width: 210px;
        height: 300px;
        margin-top: -150px;
    }

    .section-start ul li:nth-of-type(2) {
        width: 300px;
        height: 300px;
    }

    .section-start ul li:last-of-type {
        width: 210px;
        height: 190px;
    }

    /* 
        Home
    */
    .body-home {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 0px 50px;
        padding: 50px;
        height: 100vh;
    }

    .body-home > div:last-of-type, .body-home > div:first-of-type {
        background-color: rgba(var(--red-rgb), 0.25);
        border-radius: 50px;
    }

    .body-home > div:first-of-type {
        padding: 30px;
    }
    .body-home > div:last-of-type {
        padding: 40px 60px;
    }

    .landen-cards {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0px;
        height: 100%;
    }

    .landen-cards img, .landen-cards article, .landen-cards .overlay {
       width: 100%;
       height: 100%;
    }
    
    .banner {
        width: 500px;
        margin: 0px;
    }

    .main-home {
        padding: 0px;
    }

    .main-home section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-home article {
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0px 3px 6px rgba(var(--black-rgb), 0.25)
    }

    .main-home img {
        order: -1;
        width: 100%;
        height: 120px;
        margin-bottom: 10px;
    }

    .main-home a:last-of-type {
        grid-column-start: 3;
    }

    /* 
        Food 
    */
    .body-food div {
        width: 90%;
        margin: 50px auto auto auto;
        padding: 50px;
        background-color: rgba(var(--red-rgb), 0.25);
        border-radius: 50px;
    }

    .nav-food {
        padding: 0px 0px 30px 0px;
    }

    .body-food .main-home section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}