.nav-food {
    padding: 20px;
}
.nav-food a, .nav-food button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: var(--black-rgb);
}

.nav-food a {
    transition: .4s;
}

.nav-food a:hover {
    color: var(--red);
}

.nav-food button {
    background: none;
    border: none;
}

.nav-food i {
    font-size: 25px;
}

.body-food .main-home a:last-of-type {
    padding: 0px;
    background-color: transparent;
    border: transparent;
    color: var(--black-rgb);
    text-align: left;
}