.body-home {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.body-home div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* Landen cards */
.landen-cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 20px 0px 20px;
}

.landen-cards::-webkit-scrollbar {
    display: none;
  }

.landen-cards article {
    position: relative;
}

.landen-cards h2 {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: var(--white);
    z-index: 1;
}

.landen-cards img {
    width: 240px;
    height: 230px;
    border-radius: 20px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    border-radius: 20px;
    background-color: rgba(var(--black-rgb), 0.5);
}

.landen-cards .overlay {
    height: 230px;
}

/* Top 3 */
.main-home {
    padding: 0px 20px;
}

.main-home h1 {
    margin: 0px 0px 20px 0px;
    font-size: 26px;
    line-height: 31px;
}

.main-home p {
    font-size: 14px;
    line-height: 23px;
}

.main-home section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-home article {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 0px 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--blue-50);
}

.main-home h2 {
    font-size: 18px;
    line-height: 30px;
}

.main-home img {
    grid-row-start: 1;
    grid-row-end: 4;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
}

.main-home a {
    color: var(--black-rgb);
}

/* Button */
.main-home a:last-of-type {
    display: block;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: .4s;
}

.main-home a:last-of-type:hover {
    background-color: transparent;
    color: var(--red);
}

.banner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin: 0px 20px 20px 20px;
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
    background-image: url("../img/country-korea.jpg");
    background-size: cover;
    color: var(--white);
}

.banner .overlay {
    background-color: rgba(var(--black-rgb), 0.7);
}

.banner h3, .banner p {
    position: relative;
    z-index: 1;
}

.banner h3 {
    font-size: 16px;
    line-height: 28px;
}