.landen-cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.landen-cards article {
    position: relative;
}

.landen-cards h2 {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: var(--white);
}

.landen-cards img {
    width: 240px;
    height: 230px;
    border-radius: 20px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(var(--black), 0.8); */
}