.home-button a {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--red);
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(var(--black-rgb), 0.5);
    color: var(--white);
    text-align: center;
    line-height: 50px;
    transition: .4s;
}

.home-button a:hover {
    background-color: var(--white);
    color: var(--red);
}