@import "./variables.css";
@import "./start.css";
@import "./home.css";
@import "./food.css";
@import "./404.css";
@import "./single.css";
@import "./home-btn.css";
@import "./breakpoints.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

p {
    font-size: 18px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

.none {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}